body {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.header,
.footer {
    background-color:#7680b3;
}

h1:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #bd21be;
}
  
h1:hover {
    color: #bd21be;
    box-shadow: 0 0 5px #bd21be;
    text-shadow: 0 0 5px #bd21be;
}

.header-container h1 {
    padding: 18px;
    font-size: 35px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.main {
    min-height: calc(100vh - 140px);
}

.search {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.search-container {
    width: 100%;
    text-align: center;
}
 
input[type="text"] {
    width: 37%;
    min-width: 160px;
}

.search__button {
    border: none;
    outline: 0;
    background-color: #ffffff;
    text-transform: uppercase;
}

.search__button:focus {
    outline: 0;
}

.search__button:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.movie {
    display: flex;
    padding: 10px 50px 20px;
}

.movie-container {
    width: 85%;
}

.search__results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search__results .card-column,
.favorites .card-column {
    background-color: inherit;
    border: none;
}

.card-title {
    text-align: center;
    margin-top: .75rem;
}

.card-text,
.card-body {
    text-align: center;
}

.card-image-top {
    transition: 1s; 
}

.card .card-img {
    width: 85%;
    margin: 0 auto;
}

.favorites-container {
    width: 15%;
}

.favorites-container h4 {
    text-align: center;
}

.card-body .remove-button,
.card-body .remove-button:hover {
    background-color: #ff0000;
    border-color: inherit;
}

.footer-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
}

.footer-container a {
    color: #ffffff;
}

.copyright {
    padding-right: 15px;
}

.fab {
    padding-right: 4px;
}

.footer-container a:hover {
    color: #ffffff;
    text-decoration: none;
}

img:hover {
    transform: scale(0.9);
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 980px) {
    .search__results .col-3 {
        flex: 0 0 30%;
        max-width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .card h5 {
        font-size: 1rem;
    }

    .favorites-container {
        width: 20%;
    }
}

@media screen and (max-width: 480px) {

    input[type="text"] {
        width: 70%;
    }

    .movie {
        padding: 10px 10px 20px;
    }

    .favorites-container {
        width: 35%;
    }

    .search__results .col-3 {
        flex: 0 0 91%;
        max-width: 91%;
    }
}